/* Misc */
:root {
    --main-background-color: #A67F5D;
    --books-background-color: #BFBFBF;
    --search-link-background-color: #274259;
}

.center {
    display: flex;
    justify-content: center;
}

.one {
    flex: 1;
}

.two {
    flex: 2;
}

.three {
    flex: 3;
}

.four {
    flex: 4;
}

.five {
    flex: 5;
}


/* Index */
/* Structure */
body {
    background-color: var(--main-background-color);
}

/* Header */
#main-header {
    position: relative;
    display: flex;
    justify-content: center;
}

#main-header h2 {
    justify-content: center;
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    text-align: right;
}

.nav img {
    max-width: 25px;
}

/* Main */
#search-link {
    background-color: var(--search-link-background-color);
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 0;
    text-align: center;
    border-radius: 10px;
}

#search-link h4 {
    color: var(--books-background-color);
}

#search-link button {
    margin-bottom: 2.5%;
    background-color: var(--books-background-color);
    color: var(--search-link-background-color);
    border-radius: 5px;
}

/* Explore */
.explore {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Books */
.books {
    background-color: var(--books-background-color);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 80%;
    list-style: none;
    padding: 0;
}

.books li {
    width: 32%;
    margin: auto;
}

.book {
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.book a {
    text-decoration: none;
    color: black;
}

.book img {
    max-width: 100%;
    margin: auto auto 0;
}

.book h3 {
    margin: 0 auto 10%;
    padding-top: 0;
}

#contact-us a {
    text-decoration: none;
    color: var(--books-background-color);
}

/* Profile */

#profile-info {
    margin: auto;
    text-align: center;
}

#my-reviews {
    margin: auto;
    background-color: var(--books-background-color);
    text-align: center;
    width: 80%;
}

.reviews {
    padding: 2.5% 5%;
    margin: auto;
    text-align: left;
}

.review {
    display: flex;
    margin: auto;
    gap: 5%;
}

/* Search */
#search-box {
    display: flex;
    margin: 10% auto 5%;
    width: 35%;
    justify-content: center;
}

#search-box input {
    margin: 0;
    width: 100%;
    height: 25px;
}

#search-content .explore .books {
    max-width: 100%;
}

#search-content .explore .books li {
    width: 23%;
    margin: auto;
}

/* Book */
.book-large {
    width: 60%;
    margin: auto;
}

.book-large .book {
    width: 100%;
}

.book-large .book img {
    width: 100%;
    max-width: 100%;
}

.book-large .book h3 {
    font-size: xxx-large;
    margin-top: 0;
}

#review-button {
    text-align: center;
}

#review-button button {
    width: 30%;
    font-size: large;
    margin: auto;
}


#stars {
    display: flex;
    justify-content: center;
}

#summary {
    background-color: var(--books-background-color);
    padding: 1% 5%;
    border-radius: 10px;
}

#summary h1 {
    text-align: center;
    margin: 0;
    flex-direction: row-reverse;qwdewflw=ek-gr=-0gkre\=-kg
}

#book-reviews {
    background-color: var(--books-background-color);
    margin: 5% auto;
    border-radius: 10px;
}

#book-reviews h2 {
    text-align: center;
    margin: 0;
}

/* Review */
#rating {
    display: flex;
    gap: 0;
}

#rating h2 {
    padding: 0;
    margin: 0 1% 0 auto;
    text-align: right;
}

#rating input {
    font-size: large;
    width: 25%;
    margin: 0 auto;
}

#review-right {
    background-color: var(--books-background-color);
}

#review-right h2 {
    text-align: center;
}

#review-right textarea {
    font-size: large;
    width: 80%;
    margin: 0 10% 2.5%;
}

#review-footer {
    text-align: center;
    margin: 10% auto;
}

#submit-review {
    width: 50%;
    font-size: xx-large;
    border-radius: 10px;
    background-color: var(--search-link-background-color);
    color: var(--books-background-color);
}

#contact-us-top img {
    width: 100%;
    max-width: 100%;
}

#contact-us-bottom {
    display: flex;
    justify-content: center;
    background-color: var(--books-background-color);
    width: 35%;
    min-width: fit-content;
    gap: 5%;
    margin: auto;
}

#contact-us-bottom section {
    min-width: fit-content;
    background-color: var(--books-background-color);
}


#contact-us-bottom ul {
    padding: 0;
    list-style: none;
    margin: auto;
}

#contact-us-bottom ul li p{
    color: var(--search-link-background-color)
}


@media only screen and (min-width: 768px) {
    /* Index */
    .nav img {
        max-width: 40px;
    }

    #search-link button {
        width: 25%;
        font-size: large;
    }

    #index-content {
        display: flex;
    }

    /* Profile */
    #my-sway {
        font-size: xx-large;
    }

    #profile-content {
        display: flex;
    }

    #profile-info {
        width: 80%;
        margin: auto auto 10%;
    }

    #profile-info h2 {
        background-color: var(--books-background-color);
        width: 50%;
        margin: auto;
    }

    #my-reviews {
        margin: auto;
        width: 95%;
        height: 98.5%;
    }

    /* Contact */
    #contact-us-top {
        width: 80%;
        margin: auto;
    }
}