:root {
    --primary-color: #667302;
    --secondary-color: antiquewhite;
}

body {
    background-color: var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content {
    width: 95%;
    margin: auto;
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 5px;
}

#main-header {
    background-color: #D9D6B0;
    border-radius: 5px;
    padding: 5px;
    position: relative;
}

#main-content section, #main-content aside {
    padding: 5px;
}

.squirrel {
    background-color: burlywood;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

#showcase {
    position: relative;
}

#showcase p {
    background: rgba(0,0,0,0.7%);
    color: navy;
    padding: 10x;
    width: fit-content;
    position: absolute;
    bottom: 5%;
    left: 0;
}

/* Images */
img {
    max-width: 100%;
}

/* Main Navigation */
nav ul {
    list-style-type: none; /* Remove the bullets */
    padding: 0;
}

nav a {
    text-decoration: none;
}

#login-nav {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
}

#login-nav a {
    color: #667302;
    padding: 5px;
}

#login-nav li:hover {
    border-bottom: 1px solid #667302;
}


#main-nav a {
    padding: 10px 5px;
    display: block;
    color: #667302;
}

#main-nav a:hover {
    background-color: #F2E5D5;
}

#main-nav li {
    border-bottom: 1px solid #667302;
    padding: 10px 0;
}

#main-nav li:first-child {
    border-top: 1px solid #667302;
}

/* Typography */
h1 {
    text-align: center;
}

/* Larger Devices */
@media only screen and (min-width: 768px) {
    body {
        background: url("images/background-tree.jpeg");
        background-size: cover;
    }

    #content {
        width: 70%
    }

    /* Columns */
    .columns {
        display: flex;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    .four {
        flex: 4;
    }

    .five {
        flex: 5;
    }

    /* Main Nav */
    #main-nav li {
        flex: 1;
    }

    #main-nav li, #main-nav li:first-child {
        border: none;
    }

    #main-nav a {
        text-align: center;
        padding: 5px;
    }

    #main-nav a:hover {
        background-color: #D9D6B0;
        border-bottom: 1px solid black;
    }

    #login-nav li:not(:last-child)::after {
        content: "|";
    }

    .hide-small {
        display: block;
    }

}