/* Structure */
body {
    font-family: "Apple SD Gothic Neo", sans-serif;
    background-color: #C9C3F9;
}

#content {
    background-color: #E3DEFC;
    width: 70%;
    margin: auto;
    padding: 1%;
    border-radius: 10px;
}

#main-header {
    border: 2px solid #1C1F59;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
}

#main-content ol {
    list-style-type: none;
}


#main-footer {

}

/* Lists */
ol {
    list-style-type: none;
    padding: 0;
}

.assignment {
    width: 85%;
    background-color: #FF9A37;
    border-radius: 10px;
    text-align: center;
    padding: 5px 2px;
    margin: 5% auto;
}

.assignment h2 {
    color: darkslateblue;
    display: block;
}

.assignment p {
    display: block;
}

.assignment:hover {
    background-color: #D99F7E;
}

/* Typography */
h1 {
    color: #1C1F59;
}

h2 {
    color: #2C15BF;
}

p {
    color: #7D6BF2;
}

a {
    text-decoration: none;
    color: #FF9A37
}

/* Larger Devices */
@media only screen and (min-width: 768px) {
    #main-content ol {
        display: flex;
        flex:1;
        gap: 1%;
        align-items: center;
    }

    .assignment {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 32%;
    }

    .assignment img {
        max-width: 100%;
    }
}