:root {
    --background-color: #F5E2C8;
    --primary-header-color: #AF90A9;
    --secondary-header-color: #A05C7B;
    --tertiary-header-color: #944654;
    --search-boundary-color: #414535;
    --primary-section-color: #F1F2EE;
}

.center-text {
    text-align: center;
}

.outer-margin {
    margin: 3% auto;
}

.inner-margin {
    margin: auto 5%;
}

.padding {
    padding: 0 3%;
}

body {
    background-color: var(--background-color);
}

h1 {
    color: var(--secondary-header-color);
}

h2 {
    color: var(--primary-header-color);
}

.text-section {
    background-color: var(--primary-section-color);
    border-radius: 10px;
    font-size: larger;
}

/* Nav */
#nav {
    list-style: none;
    padding: 0;
    display: flex;
}

#nav li {
    margin: auto;
    background-color: var(--primary-section-color);
    border-radius: 10px;
    width: 15%;
    height: 35px;
    text-align: center;
}

#nav li a {
    text-decoration: none;
}

#nav li p {
    color: var(--tertiary-header-color);
    padding: 0;
    margin: 1% auto auto;
}

/* Common books */
.books {
    list-style: none;
    padding: 0;
    margin: auto;
    flex-wrap: wrap;
}

.book {
    margin: auto;
    text-align: center;
}

.book h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.book img {
    max-width: 75%;
    width: 75%;
}

/* Index */
#library-photo-gallery {
    background-image: url("images/library-gallery/library-gallery-1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#featured-books .books {
    display: flex;
}

#featured-books .books .book {
    width: 25%;
}

/* Genre of the day */
#genre-content {
    gap: 2.5%;
}

#books-in-genre .books {
    gap: 2%;
    background-color: var(--primary-section-color);
    border-radius: 10px;
    border: 2px solid var(--search-boundary-color);
    display: flex;
}

#genre-photo-carousel {
    background-image: url("./images/genre-gallery/genre-mystery-1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#next-genre {
    margin: 5% auto auto;
    width: 50%;
}

/* Search */
#search-bar {
    margin: 2% calc(75%/2);
    width: 25%;
    height: 25px;
    align-self: center;
    font-size: large;
}

#search-results {
    margin-top: 3%;
}

#results-list {
    list-style: none;
    padding: 0;
    margin-left: 0;
    justify-content: left;
}

#results-list li {
    padding: 0 25%;
    margin-bottom: 2%;
}

#results-list li h2 {
    color: var(--search-boundary-color);
    display: inline;
    margin-right: 7.5%;
}

#results-list li:not(:last-child):after {
    content: "";
    display: block;
    height: 0;
    border-bottom: 1px solid var(--search-boundary-color);
}

/* Popular */
.popular-section {
    background-color: var(--primary-section-color)
}

.popular-section h2 {
    font-size: xx-large;
    padding: 0 1%;
}

.popular-section .books {
    gap: 5%;
    display: flex;
}

.popular-section .books .book {
    width: 40%;
}

@media only screen and (min-width: 768px) {
    .flex-row {
        display: flex;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    .four {
        flex: 4;
    }

    .five {
        flex: 5;
    }

    /* Popular */
    .popular-section .books {
        gap: 5%;
    }

    .popular-section .books .book {
        width: 15%;
    };
}